@{
    ViewBag.Title = "Regex";
    ViewBag.Canonical = "tools/regex";
    ViewBag.Description = ".NET Regular Expression Tester";
}

@section Head {
    <link rel="stylesheet" href="~/css/regex.min.css" />
}

<h1 class="h2">.NET Regular Expression Tester</h1>

<section class="row">
    <div class="col-md-9">
        <fieldset>
            <legend class="sr-only">Regular Expression Tester</legend>
            <div class="form-group">
                <label for="regex" class="control-label">Regular Expression</label>
                <input type="text" class="form-control" id="regex" />
            </div>
            <div class="form-group">
                <label for="text" class="control-label">Text to match</label>
                <input type="text" class="form-control" id="text" />
            </div>
        </fieldset>
    </div>
</section>

<section class="row">
    <div class="col-md-4 regex-result">
        Match: <span id="result"></span>
    </div>
</section>

<div id="app"></div>

@section Scripts  {
<script type="text/javascript" src="~/js/regex.js"></script>
}