@{
    ViewBag.Title = "Regex";
    ViewBag.Canonical = "tools/regex";
    ViewBag.Description = ".NET Regular Expression Tester";
}

@section Head {
    <link rel="stylesheet" href="~/css/regex.min.css" />
}

<h1 class="h2">.NET Regular Expression Tester</h1>

<div id="app" data-tool="regex"></div>

@section Scripts  {
    <script type="text/javascript" src="~/js/polyfill.min.js"></script>
    <script type="text/javascript" src="~/js/react.production.min.js"></script>
    <script type="text/javascript" src="~/js/react-dom.production.min.js"></script>
    <script type="text/javascript" src="~/js/redux.min.js"></script>
    <script type="text/javascript" src="~/js/redux-thunk.min.js"></script>
    <script type="text/javascript" src="~/js/react-redux.min.js"></script>
    <script src="~/js/reacttools.js" src-min="~/js/reacttools.min.js"></script>
}