@section PageHeader
{
    <header class="AmCom">
    <h1>Andrew McLachlan.com</h1>
    <hr/>
    </header>
}

<p>I created this website primarily as a showcase of my ASP.NET development skills. I had been trying to put up a site for several years but it always seemed to drop
down my list of priorities. Then, with the Carbs &amp; Cals iPhone app about to be released, I needed an advert for myself so that users of the app would have somewhere
to click through to.</p>
<section>
    <h2>The site</h2>
    <p>This site is mainly content, but it is backed up by a lot of code. To make the site appear similar in a non-CSS 3 capable browser, I created two versions of the main master page.
    A custom Page class detects older browsers and redirects the page to a different master page with the older markup. Nested master pages are used to get repetition to a minimum.</p>
</section>
<section>
    <h2>Blog</h2>
    <p>The main body of code supports the blog. I have created a separate site for content management. This is supported by WCF services for authentication / user management and for managing
    the blog posts and comments.</p>
    <p>The blog supports versioning and controlled publishing.</p>
</section>