@section PageHeader
{
    <header class="Library">
        <h1>ASM Library</h1>
    </header>
}

<section>
    <p>Code re-use is at the heart of all development. The problem however, is that potentially resuable code is often tuned to the requirements of a specific feature in a project and it's not until you need to re-use some code that you see the benefits of having written a more generic component</p>
    <p>With this in mind, I have worked hard to gather re-usable components from my work into a suite of code librarys ready to be plugged in to any future project that needs that functionality. I am working to bring this code up to a standard where I won't feel embarrassed releasing to the wider world.</p>
</section>
<section>
    <header>
        <h2>IconSet, Icon and Icon Manager</h2>
    </header>
    <p>Windows Icon files are groups of images of different sizes and colour depths. While .NET has the <a href="">System.Drawing.Icon</a> class, it's not designed to represent a single image rather than allowing you to peek at all the images in the set.</p>
    <p>I have been working on some classes that will make it easier to create, edit and view the full contents of an icon file. I am also working on a Windows application, called Icon Manager, that demonstrates this functionality and allows me to compose new icons quickly.</p>
</section>