@{
    ViewBag.Title = "Projects";
    ViewBag.Description = "Information about Andrew McLachlan and andrewmclachlan.com";
    ViewBag.Canonical = "projects";
}

@section PageHeader
{
    <header class="Projects">
        <h1>Projects</h1>
    </header>
}

<section>
    <header>
        <h2><img src="~/content/images/projects.png" alt="Andrew McLachlan's Projects" /></h2>
    </header>
    <p>In these pages I have listed some of the projects I am working on or have worked on in the past, going into some of the technical details about implementation where appropriate.</p>
    <p>I've also included pages on photography and graphical artistry.</p>
</section>