<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1a5d51e-7e00-4a51-9001-d57aca1d5121" Alias="Card Size" Level="1">
  <Info>
    <Name>Card Size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Hero",
    "Standard"
  ]
}]]></Config>
</DataType>