<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3a5d51e-7e00-4a53-9003-d57aca1d5123" Alias="Card Link" Level="1">
  <Info>
    <Name>Card Link</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1
}]]></Config>
</DataType>