<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c2a5d51e-7e00-4a52-9002-d57aca1d5122" Alias="Cards" Level="1">
  <Info>
    <Name>Cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c4ca5d51-7e00-4a54-9004-d57aca1d5124",
      "label": "{=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 0
  }
}]]></Config>
</DataType>