<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b8c57f2-9169-4094-be13-0e704f01e0eb" Alias="Change Frequency" Level="1">
  <Info>
    <Name>Change Frequency</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "always",
    "hourly",
    "daily",
    "weekly",
    "monthly",
    "yearly",
    "never"
  ],
  "multiple": false,
  "umbMigrationV14": "2024-09-13T11:29:42.8232356\u002B00:00"
}]]></Config>
</DataType>