<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8ab3217-9134-4950-9a20-236740b8b1ca" Alias="Home - Intro Call to Action Link - Content Picker" Level="1">
  <Info>
    <Name>Home - Intro Call to Action Link - Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>