<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a04ecd03-66e2-4598-aadd-d0d6c462e657" Alias="Horizontal Position" Level="1">
  <Info>
    <Name>Horizontal Position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Left",
    "Right"
  ]
}]]></Config>
</DataType>