<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4fbf5f46-58db-4cda-901e-831148597431" Alias="Image Scaling" Level="1">
  <Info>
    <Name>Image Scaling</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1",
    "1.25",
    "1.5",
    "2"
  ],
  "multiple": false,
  "umbMigrationV14": "2024-09-13T11:29:42.8239356\u002B00:00"
}]]></Config>
</DataType>