<?xml version="1.0" encoding="utf-8"?>
<DataType Key="448587fa-9fdf-46a5-aec5-031992ad0ed0" Alias="Page Links - Nested Content" Level="1">
  <Info>
    <Name>Page Links - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Missing</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "confirmDeletes": true,
  "contentTypes": [
    {
      "ncAlias": "pageLink",
      "ncTabAlias": "Page Link",
      "nameTemplate": "{{pageLinkUrl}}"
    }
  ],
  "hideLabel": false,
  "maxItems": 3,
  "minItems": 0,
  "showIcons": true
}]]></Config>
</DataType>