<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8a6e5852-1032-47a5-9e98-e8655054cd11" Alias="Page Type" Level="1">
  <Info>
    <Name>Page Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "article",
    "profile",
    "website"
  ]
}]]></Config>
</DataType>