<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e6992a3-542c-49bb-91a3-1067b6172fa4" Alias="Summaries - Nested Content" Level="1">
  <Info>
    <Name>Summaries - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Missing</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "confirmDeletes": true,
  "contentTypes": [
    {
      "ncAlias": "summary",
      "ncTabAlias": "Summary",
      "nameTemplate": "{{title}}"
    }
  ],
  "hideLabel": false,
  "maxItems": 3,
  "minItems": 0,
  "showIcons": true
}]]></Config>
</DataType>