<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28163e06-3f89-4c99-a43c-2afdc48a9281" Alias="Summaries" Level="1">
  <Info>
    <Name>Summaries</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6e2036d1-dc3e-4849-b155-3ec473419066",
      "label": "{=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 0,
    "max": 6
  }
}]]></Config>
</DataType>