@import 'variables.scss';

.colour {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid #000;
}

.colour ~ div, h4 {
    font-family: Calibri;
    font-weight: bold;
    font-size: 1em;
}

.colourGroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.colourGroup section {
    margin: 10px;
}

.dark {
	background-color: $dark;
}

.lighter {
	background-color: $lighter;
}

.richBlue {
	background-color: $richblue;
}

.blue {
	background-color: $blue;
}
.lightblue {
	background-color: $lightblue;
}

.bone {
	background-color: $bone;
}
.mutedbone {
	background-color: $mutedbone;
}



.keyword {
	background-color: rgb(129,226,129);
}