@import 'variables.scss';

.dark {
	background-color: $dark;
}

.lighter {
	background-color: $lighter;
}

.richBlue {
	background-color: $richblue;
}

.blue {
	background-color: $blue;
}
.lightblue {
	background-color: $lightblue;
}

.bone {
	background-color: $bone;
}
.mutedbone {
	background-color: $mutedbone;
}



.keyword {
	background-color: rgb(129,226,129);
}