/*rgba(27,34,44,1)*/
.dark {
  background-color: #14252C; }

.lighter {
  background-color: #29333D; }

.richBlue {
  background-color: #3C74A8; }

.blue {
  background-color: #73BEE9; }

.lightblue {
  background-color: #aadcf7; }

.bone {
  background-color: #F8F8D2; }

.mutedbone {
  background-color: #DADAD3; }

.keyword {
  background-color: #81e281; }
