/*rgba(27,34,44,1)*/
.colour {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid #000; }

.colour ~ div, h4 {
  font-family: Calibri;
  font-weight: bold;
  font-size: 1em; }

.colourGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.colourGroup section {
  margin: 10px; }

.dark {
  background-color: #14252C; }

.lighter {
  background-color: #29333D; }

.richBlue {
  background-color: #3C74A8; }

.blue {
  background-color: #73BEE9; }

.lightblue {
  background-color: #aadcf7; }

.bone {
  background-color: #F8F8D2; }

.mutedbone {
  background-color: #DADAD3; }

.keyword {
  background-color: #81e281; }
