.dark {

    hr {
        background-image: -webkit-linear-gradient(left, var(--colour-dark) 0, var(--colour-light-blue) 40%, #FFF 50%, var(--colour-light-blue) 60%, var(--colour-dark) 100%);
        background-image: -moz-linear-gradient(left, var(--colour-dark) 0, var(--colour-light-blue) 40%, #FFF 50%, var(--colour-light-blue) 60%, var(--colour-dark) 100%);
        background-image: linear-gradient(left, var(--colour-dark) 0, var(--colour-light-blue) 40%, #FFF 50%, var(--colour-light-blue) 60%, var(--colour-dark) 100%);
    }

    &.sitemap {

        ul {

            &.level1 > li {
                background-color: var(--colour-muted-bone);

                > a {
                    color: var(--colour-dark);
                }
            }

            &.level2 {
                background-color: var(--colour-dark);

                > li {
                    background-color: var(--colour-dark);
                }
            }
        }
    }

    .form-control {
        background-color: var(--colour-muted-bone);
    }

    aside.page-link {
        background-color: var(--colour-muted-bone);

        a {
            color: var(--colour-rich-blue);
        }
    }
}

@media (prefers-color-scheme: dark) {
body:not(.light) {
    hr {
        background-image: -webkit-linear-gradient(left, var(--colour-dark) 0, var(--colour-light-blue) 40%, #FFF 50%, var(--colour-light-blue) 60%, var(--colour-dark) 100%);
        background-image: -moz-linear-gradient(left, var(--colour-dark) 0, var(--colour-light-blue) 40%, #FFF 50%, var(--colour-light-blue) 60%, var(--colour-dark) 100%);
        background-image: linear-gradient(left, var(--colour-dark) 0, var(--colour-light-blue) 40%, #FFF 50%, var(--colour-light-blue) 60%, var(--colour-dark) 100%);
    }

    .sitemap {

        ul {

            &.level1 > li {
                background-color: var(--colour-muted-bone);

                > a {
                    color: var(--colour-dark);
                }
            }

            &.level2 {
                background-color: var(--colour-dark);

                > li {
                    background-color: var(--colour-dark);
                }
            }
        }
    }

    .form-control {
        background-color: var(--colour-muted-bone);
    }

    aside.page-link {
        background-color: var(--colour-muted-bone);

        a {
            color: var(--colour-rich-blue);
        }
    }
}
}