@import 'variables';

.dark {

    hr {
        background-image: -webkit-linear-gradient(left, var(--colour-dark) 0, $lightblue 40%, #FFF 50%, $lightblue 60%, var(--colour-dark) 100%);
        background-image: -moz-linear-gradient(left, var(--colour-dark) 0, $lightblue 40%, #FFF 50%, $lightblue 60%, var(--colour-dark) 100%);
        background-image: linear-gradient(left, var(--colour-dark) 0, $lightblue 40%, #FFF 50%, $lightblue 60%, var(--colour-dark) 100%);
    }

    h2.has-links {
        border-bottom-color: var(--colour-dark);
    }

    &.sitemap {

        ul {

            &.level1 > li {
                background-color: $mutedbone;

                > a {
                    color: var(--colour-dark);
                }
            }

            &.level2 {
                background-color: var(--colour-dark);

                > li {
                    background-color: var(--colour-dark);
                }
            }
        }
    }

    .form-control {
        background-color: $mutedbone;
    }

    aside.page-link {
        background-color: $mutedbone;

        a {
            color: $richblue;
        }
    }
}

@media (prefers-color-scheme: dark) {
body:not(.light) {
    hr {
        background-image: -webkit-linear-gradient(left, var(--colour-dark) 0, $lightblue 40%, #FFF 50%, $lightblue 60%, var(--colour-dark) 100%);
        background-image: -moz-linear-gradient(left, var(--colour-dark) 0, $lightblue 40%, #FFF 50%, $lightblue 60%, var(--colour-dark) 100%);
        background-image: linear-gradient(left, var(--colour-dark) 0, $lightblue 40%, #FFF 50%, $lightblue 60%, var(--colour-dark) 100%);
    }

    h2.has-links {
        border-bottom-color: var(--colour-dark);
    }

    .sitemap {

        ul {

            &.level1 > li {
                background-color: $mutedbone;

                > a {
                    color: var(--colour-dark);
                }
            }

            &.level2 {
                background-color: var(--colour-dark);

                > li {
                    background-color: var(--colour-dark);
                }
            }
        }
    }

    .form-control {
        background-color: $mutedbone;
    }

    aside.page-link {
        background-color: $mutedbone;

        a {
            color: $richblue;
        }
    }
}
}