.home-header-container.egypt {
	top: 120px;
	padding-right: 900px;
}

.egypt .home-header {
	width: 300px;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-delay: 3300ms;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes growAndShow1 {
	from {
		opacity: 0;
		top: 5px;
	}

	to {
		opacity: 1;
		top: 10px;
	}
}

@keyframes growAndShow1Children {
	from {
		width: 326px;
		height: 44px;
	}

	to {
		height: 87px;
		width: 652px;
	}
}

@keyframes growAndShow2 {
	from {
		opacity: 0;
		top: 350px;
	}

	to {
		opacity: 1;
		top: 300px;
	}
}

@keyframes growAndShow2Children {
	from {
		width: 326px;
		height: 44px;
	}

	to {
		height: 87px;
		width: 661px;
	}
}


#someSolutions {
	position: absolute;
	opacity: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 652px;
	animation-name: growAndShow1;
	animation-duration: 1.5s;
	animation-delay: 500ms;
	animation-fill-mode: both;
	animation-timing-function: linear;

	img {
		/*width: 326px;
    height: 44px;*/
		animation-name: growAndShow1Children;
		animation-duration: 1.5s;
		animation-delay: 500ms;
		animation-fill-mode: both;
		animation-timing-function: linear;
	}
}

@mixin btlAnimation($name) {
	animation-name: $name;
	animation-duration: 1.5s;
	animation-delay: 1800ms;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

#builtToLast {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	@include btlAnimation(growAndShow2);

	img {
		@include btlAnimation(growAndShow2Children);
	}
}

@media (max-width: 991px) {
	.home-header-container.egypt {
		left: -5%;
		padding-right: 0;
	}
}

@media (max-width: 767px) {
	#someSolutions {
		opacity: 1;
		animation-name: none;
	}

	#builtToLast {
		opacity: 1;
		animation: none;
	}

	.home-header-container.egypt {
		top: 0px;
		padding-right: 0px;
	}
}
