.clickable {
    cursor: pointer;
}

.text {
    text-shadow: none;
}

.large {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 4px #444;
}

.btn-wide {
    padding-left: 10%;
    padding-right: 10%;
}