figure.combinedWorks {
    text-align: center;
    width: 100%;
}

.contact h2 {
    background-image: url(../images/headers/paris.jpg);
    background-size: auto;
}


.photography h2 {
    background-image: url(../images/headers/morocco2.jpg);
    background-size: auto;
}

.drawing h2 {
    background-image: url(../images/headers/morocco.jpg);
}

.privacy h2 {
    background-image: url(../images/headers/adelaide.jpg);
}

.products h2 {
    background-image: url(../images/headers/macbook.jpg);
    /*background-image: url(../images/headers/london.jpg);
    background-position: 0 175px;
    background-size: 100% 100%;*/
}

.avior h2 {
    background-image: url(../images/headers/london2.jpg);
    background-size: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*color: #f08e3c;
    background-color:#26333E;
    font-weight: 900;*/
}

.project-portal h2 {
    background-image: url(../images/headers/egypt.jpg);
    background-position: 0 270px;
    background-size: auto;
}

.carbs-and-cals h2 {
    background-image: url(../images/headers/cnc.jpg);
    padding-top: 0;
    background-position: 0 270px;
}

.sitemap h2 {
    background-image: url(../images/headers/sahara.jpg);
}

.consulting h2 {
    background-image: url(../images/headers/london2.jpg);
    background-size: auto;
}
