.regex-result-summary {
  font-size: 2em; }

.match {
  background-color: #8CF;
  border-radius: 12px;
  padding: 10px 5px; }

.nonmatch.start {
  padding-right: 5px; }

.nonmatch.end {
  padding-left: 5px; }

.nomatch {
  color: #F00; }

span[id^=group] {
  background-color: #0F8;
  border-radius: 12px;
  padding: 5px 5px;
  transition: background-color 200ms linear, padding 200ms linear; }

span[id^=capture] {
  background-color: transparent;
  transition: background-color 200ms linear, padding 200ms linear;
  border-radius: 9px; }

/*
span[id^=capture]:first-child {
    border-radius: 12px 0 0 12px;
}

span[id^=capture]:last-child {
    border-radius: 0 12px 12px 0;
}
*/
span[id^=group].hover {
  background-color: #08F;
  transition: background-color 200ms linear, padding 200ms linear; }

span[id^=capture].hover {
  background-color: #0F8;
  padding: 0 10px;
  transition: background-color 200ms linear, padding 200ms linear; }
