.regex-result-summary {
    font-size: 2em;
}

.match {
}

.nomatch {
    color: #FF0000;
}

span[id^=group] {
    background-color: #00FF88;
    border-radius: 12px;
    padding: 5px 5px;
    transition: background-color 200ms linear, padding 200ms linear;
}

span[id^=capture] {
    background-color: transparent;
    transition: background-color 200ms linear, padding 200ms linear;
    border-radius: 9px;
}
/*
span[id^=capture]:first-child {
    border-radius: 12px 0 0 12px;
}

span[id^=capture]:last-child {
    border-radius: 0 12px 12px 0;
}
*/
span[id^=group].hover {
    background-color: #0088FF;
    transition: background-color 200ms linear, padding 200ms linear;
}

span[id^=capture].hover {
    background-color: #00FF88;
    padding: 0 10px;
    transition: background-color 200ms linear, padding 200ms linear;
}