@import 'variables';

@media screen and (max-width: 1399px) {
    .currentBreakpoint::after {
        content: '(max-width: 1399px)';
    }
}

@media screen and (max-width: 1199px) {

    .currentBreakpoint::after {
        content: '(max-width: 1199px)';
    }
}

@media screen and (max-width: 991px) and (prefers-color-scheme: dark) {
    body.home main {
        border-bottom: 1px solid var(--border);
    }
}

@media screen and (max-width: 991px) {

    .currentBreakpoint::after {
        content: '(max-width: 991px)';
    }

    body.home.dark main {
        border-bottom: 1px solid var(--border);
    }

    .home.index .summary li {
        font-size: 18px;
    }

    .summary section {
        border-right: none;
        border-bottom: 1px solid var(--border);
        margin-bottom: 15px;
    }

    .summary section:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }

    .summary .btn {
        margin-bottom: 20px;
    }

    .combinedWorks {
        display: none;
    }

    .navbar {
        .navbar-brand span {
            font-size: 1.3rem;
        }

        .level-last {
            border-right: none;
            border-bottom: 1px solid var(--nav-colour);
        }
    }
}

@media screen and (max-width: 966px), (max-device-width: 966px) {

    .currentBreakpoint::after {
        content: '(max-width: 966px), (max-device-width: 966px)';
    }
}

@media screen and (max-width: 767px), (max-device-width: 767px) {

    .navbar > .container-fluid {
        align-items: normal;
    }

    .navbar-brand {
        position: absolute;
        right: 0;
        margin-top: 0;
        padding-top:0;
        top: 3px;
    }

    h2:not(.text) {
        font-size: 1.8rem;
        margin-bottom: 0;
        line-height: 50px;

        &.long {
            font-size: 1.5rem;
        }
    }

    .page-links {
        display: flex;
        justify-content: space-between;
        background-color: var(--colour-muted-bone);
        margin-bottom: 0.5rem;
        border-bottom: 2px solid var(--colour-dark);
    }

    aside.page-link {
        margin: 0;
        float: none;
        border: none;
        border-radius: 0;
        border-right: 2px solid var(--colour-dark);
        flex: 1;
        text-align: center;

        &:last-child {
            border-right: none;
        }
    }

    .hero {

        height: 305px;

        h2, p {
            font-size: 1.5rem;
        }
    }

    .navbar {

        .levellast {
            border-bottom: 1px solid var(--nav-colour);
        }
    }

    .summary section {
        border-right: none;
        border-bottom: 1px solid var(--border);
    }

    #hero .container div, #hero img {
        display: none !important;
    }

    #hero .home-header-container {
        position: static;
        margin: 0 auto;
        width: 100%;
    }

    .combinedWorks {
        display: none;
    }

    .currentBreakpoint::after {
        content: '(max-width: 767px), (max-device-width: 767px)';
    }

    article {
        font-size: 0.875rem;
    }

    h1 {
        font-size: 2.5em;
        line-height: 50px;
    }

    footer {
        font-size: 0.875rem;
        margin: 15px auto;
    }

    .navbar .level-last {
        border-right: none;
        border-bottom: 1px solid $blue;
    }

    .navbar a {
        font-size: 1rem;
    }

    .combinedWorks {
        display: none;
    }

    #hero .jumbotron {
        width: auto;
        left: initial;
    }
}

@media screen and (max-width: 575px), (max-device-width: 575px) {
    .currentBreakpoint::after {
        content: '(max-width: 575px), (max-device-width: 575px)';
    }

    h1 {
        padding-right: 10px;
    }

    .hero {
        height: 202px;

        h2, p {
            font-size: 1.2rem;
        }

        .jumbotron .container {
            border-radius: 0;
        }
    }
}

@media screen and (min-height: 400px) {
    article {
        min-height: 250px;
    }
}

@media screen and (max-height: 560px) {
    section.error {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-height: 700px) {
    article {
        min-height: 500px;
    }
}

@media screen and (min-height: 1000px) {
    article {
        min-height: 700px;
    }
}
