@import 'variables';

$small-phone: 320px;
$phone: 360px;



@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    #logo {
        background-image: url(../../images/amboxed@2x.png);
        background-size: 72px 72px;
    }
}

@media screen and (max-width: 1800px) {

    .currentBreakpoint::after {
        content: '(max-width: 1800px)';
    }

    .about p {
        margin-top: 15px;
    }
}

@media screen and (max-width: 1199px) {
    .home.index .summary li {
        font-size: 0.95em;
    }
}

@media screen and (max-width: 1024px) {

    .currentBreakpoint::after {
        content: '(max-width: 1024px)';
    }

    .currentBreakpoint::after {
        content: '(max-width: 1024px)';
    }

    #hero {
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) and (prefers-color-scheme: dark) {
    body.home main {
        border-bottom: 1px solid var(--border);
    }
}

@media screen and (max-width: 966px), (max-device-width: 966px) {

    .currentBreakpoint::after {
        content: '(max-width: 966px), (max-device-width: 966px)';
    }
}

@media screen and (max-width: 991px) {

    .currentBreakpoint::after {
        content: '(max-width: 991px)';
    }

    body.home.dark main {
        border-bottom: 1px solid var(--border);
    }

    .home.index .summary li {
        font-size: 18px;
    }

    .summary section {
        border-right: none;
        border-bottom: 1px solid var(--border);
        margin-bottom: 15px;
    }

    .summary section:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }

    .summary .btn {
        margin-bottom: 20px;
    }

    .combinedWorks {
        display: none;
    }

    .navbar {
        .navbar-brand span {
            font-size: 1.3rem;
        }

        .level-last {
            border-right: none;
            border-bottom: 1px solid var(--nav-colour);
        }
    }
}

@media screen and (max-width: 767px), (max-device-width: 767px) {

    .navbar > .container-fluid {
        align-items: normal;
    }

    .navbar-brand {
        position: absolute;
        right: 0;
        margin-top: 0;
        padding-top:0;
        top: 3px;
    }

    h2:not(.text) {
        font-size: 2rem;
        margin-bottom: 0;
        line-height: 50px;
    }

    .page-links {
        display: flex;
        justify-content: space-between;
        background-color: var(--colour-muted-bone);
        margin-bottom: 0.5rem;
        border-bottom: 2px solid var(--colour-dark);
    }

    aside.page-link {
        margin: 0;
        float: none;
        border: none;
        border-radius: 0;
        border-right: 2px solid var(--colour-dark);
        flex:1;

        &:last-child {
            border-right: none;
            text-align: right;
        }
    }

    .hero {

        height: 305px;

        h2, p {
            font-size: 1.5rem;
        }
    }

    nav {
        font-size: 13px;
    }

    .navbar {
        padding-left: 10px;

        .levellast {
            border-bottom: 1px solid var(--nav-colour);
        }
    }

    #logo {
        top: 3px;
        right: 10px;
        height: 50px;
        width: 50px;
        background-size: 46px 46px;
    }

    #hero {
        background-color: #FFF;
        height: auto;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid $dark;

        .jumbotron {
            margin: 0;
        }
    }

    .summary section {
        border-right: none;
        border-bottom: 1px solid var(--border);
    }

    #hero .container div, #hero img {
        display: none !important;
    }

    #hero .home-header-container {
        position: static;
        margin: 0 auto;
        width: 100%;
    }

    #hero .home-header {
        background: none;
        position: static;
        opacity: 1 !important;
        animation-name: none !important;
        box-shadow: none;
        border: none;
        border-radius: 0;
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    .combinedWorks {
        display: none;
    }

    .currentBreakpoint::after {
        content: '(max-width: 767px), (max-device-width: 767px)';
    }

    article {
        font-size: 14px;
    }

    h1 {
        font-size: 2.5em;
        line-height: 50px;
    }

    footer {
        font-size: 10px;
        margin: 15px auto;
    }

    .navbar .level-last {
        border-right: none;
        border-bottom: 1px solid $blue;
    }

    .navbar a {
        font-size: 12px;
    }

    .combinedWorks {
        display: none;
    }

    #hero .jumbotron {
        width: auto;
        left: initial;
    }
}

@media screen and (max-width: 575px), (max-device-width: 575px) {
    .currentBreakpoint::after {
        content: '(max-width: 575px), (max-device-width: 575px)';
    }

    h1 {
        padding-right: 10px;
    }

    .hero {
        height: 202px;

        h2, p {
            font-size: 1.2rem;
        }

        .jumbotron .container {
            border-radius: 0;
        }
    }
}

@media screen and (min-height: 400px) {
    article {
        min-height: 250px;
    }
}

@media screen and (max-height: 560px) {
    section.error {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-height: 700px) {
    article {
        min-height: 500px;
    }
}

@media screen and (min-height: 1000px) {
    article {
        min-height: 700px;
    }
}
