@import 'variables';

$small-phone: 320px;
$phone: 360px;



@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	#logo {
		background-image: url(../../images/amboxed@2x.png);
		background-size: 72px 72px;
	}
}

@media screen and (max-width: 1800px) {

	.currentBreakpoint::after {
		content: '(max-width: 1800px)';
	}

	.about p {
		margin-top: 15px;
	}
}

@media screen and (max-width: 1199px) {
	.home.index .summary li {
		font-size: 0.95em;
	}
}

@media screen and (max-width: 1024px) {

	.currentBreakpoint::after {
		content: '(max-width: 1024px)';
	}

	.currentBreakpoint::after {
		content: '(max-width: 1024px)';
	}

	#hero {
		font-size: 16px;
	}
}

@media screen and (max-width: 966px), (max-device-width: 966px) {

	.currentBreakpoint::after {
		content: '(max-width: 966px), (max-device-width: 966px)';
	}
}

@media screen and (max-width: 991px) {

	.currentBreakpoint::after {
		content: '(max-width: 991px)';
	}

	.home.index .summary li {
		font-size: 18px;
	}

	.summary .col-md-4 {
		border-right: none;
		border-bottom: 1px solid $dark;
	}

	.summary .col-md-4:last-child {
		border-bottom: none;
	}

	.summary .btn {
		margin-bottom: 20px;
	}

	.combinedWorks {
		display: none;
	}
}

@media screen and (max-width: 767px), (max-device-width: 767px) {

	nav {
		font-size: 13px;
	}

    .navbar {
        padding-left: 10px;
    }

	#logo {
		top: 3px;
		right: 10px;
		height: 50px;
		width: 50px;
		background-size: 46px 46px;
	}

	#hero {
		background-color: #FFF;
		height: auto;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid $dark;

		.jumbotron {
			margin: 0;
		}
	}

	#hero .container div, #hero img {
		display: none !important;
	}

	#hero .home-header-container {
		position: static;
		margin: 0 auto;
        width: 100%;
	}

	#hero .home-header {
		background: none;
		position: static;
		opacity: 1 !important;
		animation-name: none !important;
		box-shadow: none;
		border: none;
		border-radius: 0;
		padding: 20px;
		width: 100%;
		text-align: center;
	}

	.combinedWorks {
		display: none;
	}

	.currentBreakpoint::after {
		content: '(max-width: 767px), (max-device-width: 767px)';
	}

	article {
		font-size: 14px;
	}

	h1 {
		font-size: 2.5em;
		line-height: 50px;
	}

	footer {
		font-size: 10px;
		margin: 15px auto;
	}

	#hero .home-header {
		border: none;
		/*border-bottom: 1px solid $dark;*/
		border-radius: 0;

		h1, h2 {
			text-shadow: none;
			text-align: left;
			font-size: 1em;
			line-height: normal;
		}
	}

	.navbar .levelLast {
		border-right: none;
		border-bottom: 1px solid $blue;
	}

	.navbar a {
		font-size: 12px;
	}

	.combinedWorks {
		display: none;
	}

	#hero .jumbotron {
		width: auto;
		left: initial;
	}
}

@media screen and (min-height: 400px) {
	article {
		min-height: 250px;
	}
}

@media screen and (max-height: 560px) {
	section.error {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media screen and (min-height: 700px) {
	article {
		min-height: 500px;
	}
}

@media screen and (min-height: 1000px) {
	article {
		min-height: 700px;
	}
}
