.summary {
    margin-bottom: 2rem;

    section {

        position: relative;
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--border);

        h3 {
            text-align: center;
        }

        &:last-child {
            border-right: none;
        }
    }

    ul {
        margin: 0 1.5rem;
    }

    li {
        margin: 0.5rem;
    }

    .btn {
        bottom: 0;
        width: 60%;
        margin: auto auto 0;
    }
}
