@import "variables";

:root, .light {
    --background-colour: white;
    --text-colour: var(--bs-body-color);
    --link-colour: #0d6efd;
    --nav-background: white;
    --nav-colour: #{$dark};
    --nav-active: #{$richblue};
    --nav-hover: #{$richblue};
    --border: #{$dark};
    --colour-dark: #{$dark};
    --colour-lighter: #{$lighter};
    --colour-rich-blue: #{$richblue};
    --colour-blue: #{$blue};
    --colour-light-blue: #{$lightblue};
    --colour-bone: #{$bone};
    --colour-muted-bone: #{$mutedbone};
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-colour: #{$dark};
        --text-colour: var(--colour-muted-bone);
        --link-colour: var(--colour-blue);
        --nav-background: #{$dark};
        --nav-colour: #{$blue};
        --nav-active: #{$mutedbone};
        --nav-hover: #{$bone};
        --border: #{$mutedbone};
    }
}

.dark {
    --background-colour: #{$dark};
    --text-colour: var(--colour-muted-bone);
    --link-colour: var(--colour-blue);
    --nav-background: #{$dark};
    --nav-colour: #{$blue};
    --nav-active: #{$mutedbone};
    --nav-hover: #{$bone};
    --border: #{$mutedbone};
}
