@import "variables";

:root {
    --colour-dark: #{$dark};
    --colour-lighter: #{$lighter};
    --colour-rich-blue: #{$rich-blue};
    --colour-blue: #{$blue};
    --colour-light-blue: #{$light-blue};
    --colour-bone: #{$bone};
    --colour-muted-bone: #{$muted-bone};
}

:root, .light {
    --background-colour: white;
    --text-colour: var(--bs-body-color);
    --link-colour: #0d6efd;
    --nav-background: white;
    --nav-colour: var(--colour-dark);
    --nav-active: var(--colour-rich-blue);
    --nav-hover: var(--colour-rich-blue);
    --border: var(--colour-dark);
    --quote-background: var(--colour-bone);
    --error: #F00;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-colour: var(--colour-dark);
        --text-colour: var(--colour-muted-bone);
        --link-colour: var(--colour-blue);
        --nav-background: var(--colour-dark);
        --nav-colour: var(--colour-blue);
        --nav-active: var(--colour-muted-bone);
        --nav-hover: var(--colour-bone);
        --border: var(--colour-muted-bone);
        --quote-background: var(--colour-lighter);
    }
}

.dark {
    --background-colour: var(--colour-dark);
    --text-colour: var(--colour-muted-bone);
    --link-colour: var(--colour-blue);
    --nav-background: var(--colour-dark);
    --nav-colour: var(--colour-blue);
    --nav-active: var(--colour-muted-bone);
    --nav-hover: var(--colour-bone);
    --border: var(--colour-muted-bone);
    --quote-background: var(--colour-lighter);
}
