@{
  ViewBag.Title = "Base64 - Encode / Decode";
  ViewBag.Canonical = "tools/base64";
  ViewBag.Description = "Base64 encoding and decoding";
}

<h1 class="h2">Base64 Encode / Decode</h1>

<div id="app" data-tool="base64"></div>

@section Scripts  {
  <script src="~/js/polyfill.min.js"></script>
  <script src="~/js/react.production.min.js"></script>
  <script src="~/js/react-dom.production.min.js"></script>
  <script src="~/js/redux.min.js"></script>
  <script src="~/js/redux-thunk.min.js"></script>
  <script src="~/js/react-redux.min.js"></script>
  <script src="~/js/reacttools.js" src-min="~/js/reacttools.min.js"></script>
}