@{
    ViewBag.Title = "IP address";
    ViewBag.Canonical = "tools/ip";
    ViewBag.Description = "Displays your IP Address";
}

<h1 class="h2">Your IP Address</h1>

<h2>@Context.Connection.RemoteIpAddress.ToString()</h2>

