@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "FullPageLayout.cshtml";
    ViewBag.Title = $"{Model.Value("title")} - Andrew McLachlan";
    ViewBag.Description = Model.Value("description");
    ViewBag.Canonical = Model.Url();
    var pageLinks = Model.Value<IEnumerable<Umbraco.Cms.Web.Common.PublishedModels.PageLink>>("PageLinks") ?? [];
}

@section PageLink
{
    @if (Model.Value("PageLinks") != null)
    {
        <section class="page-links">
            @foreach (var pageLink in pageLinks)
            {
                await Html.RenderPartialAsync("PageLink", pageLink);
            }
        </section>
    }
}

@Model.Value("pageContent")