@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ToolPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "FullPageLayout.cshtml";
    ViewBag.Title = $"{Model.Value("title")} - Andrew McLachlan";
    ViewBag.Description = Model.Value("description");
    ViewBag.Canonical = Model.Url();
    string toolName = Model.Value<string>("toolName")!;
}

@section Head
{
  <link rel="stylesheet" href="~/css/tool.min.css?v=$v" />
  <link rel="stylesheet" href="@($"~/css/{toolName}.min.css?v=$v")" />
}

<article>
    <div class="container">
        <div id="app" data-tool="@(Model.Value<string>("toolName"))"></div>
    </div>
</article>

@section Scripts  {
    <script type="text/javascript" src="~/js/reacttools.js?v=$v" src-min="/js/reacttools.min.js?v=$v"></script>
}