@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ToolPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "FullPageLayout.cshtml";
    string toolName = Model.Value<string>("toolName");
}

@section Head
{
  <link rel="stylesheet" href="~/css/tool.min.css?v=$v" />
  <link rel="stylesheet" href="@($"~/css/{toolName}.min.css?v=$v")" />
}

@section PageHeader
{
    <h2>@Model.Value("title")</h2>
}

<article>
    <div class="container">
        <div id="app" data-tool="@(Model.Value<string>("toolName"))"></div>
    </div>
</article>

@section Scripts  {
  <script type="text/javascript" src="~/js/polyfill.min.js"></script>
  <script type="text/javascript" src="~/js/react.production.min.js"></script>
  <script type="text/javascript" src="~/js/react-dom.production.min.js"></script>
  <script type="text/javascript" src="~/js/redux.min.js"></script>
  <script type="text/javascript" src="~/js/redux-thunk.min.js"></script>
  <script type="text/javascript" src="~/js/react-redux.min.js"></script>
  <script type="text/javascript" src="~/js/reacttools.js" src-min="/js/reacttools.min.js"></script>
}