@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Layout.cshtml";
}

@section Head
{
    @RenderSection("Head", false)
}

<article>
    <div class="container">
        <h1 class="h2">@Model.Value("title")</h1>

        <div id="app" data-tool="@(Model.Value<string>("toolName"))"></div>
    </div>
</article>


@section Footer
{
    @this.RenderSection("Footer", this.Html, "Footer")
}

@section Scripts  {
  <script type="text/javascript" src="/js/react.production.min.js"></script>
  <script type="text/javascript" src="/js/react-dom.production.min.js"></script>
  <script type="text/javascript" src="/js/redux.min.js"></script>
  <script type="text/javascript" src="/js/redux-thunk.min.js"></script>
  <script type="text/javascript" src="/js/react-redux.min.js"></script>
  <script type="text/javascript" src="/js/reacttools.js" src-min="/js/reacttools.min.js"></script>
}