@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ToolPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "FullPageLayout.cshtml";
    ViewBag.Title = "IP address";
    ViewBag.Canonical = "tools/ip";
    ViewBag.Description = "Displays your IP Address";
}

<h3>Your IP Address</h3>
<h3 class="clickable copyable" title="Click to copy">@Context.Connection.RemoteIpAddress.ToString()</h3>