:root {
    --header-height: 75px;
    --colour-dark: #091114;
    --colour-lighter: #142229;
    --colour-rich-blue: #3C74A8;
    --colour-blue: #73BEE9;
    --colour-light-blue: rgb(170,220,247);
    --colour-bone: #F8F8D2;
    --colour-muted-bone: #EAEAE3;
    --colour-orange: #F7922D;
    --colour-deep-orange: #F55E00;
    --colour-light-orange: #F4B57A;
}

:root, .light {
    --background-colour: white;
    --brand-colour: var(--colour-rich-blue);
    --text-colour: #212529;
    --link-colour: #0d6efd;
    --nav-background: white;
    --nav-colour: var(--colour-dark);
    --nav-active: var(--colour-orange);
    --nav-hover: var(--colour-deep-orange);
    --border: var(--colour-deep-orange);
    --quote-background: var(--colour-bone);
    --error: #F00;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-colour: var(--colour-dark);
        --brand-colour: var(--colour-blue);
        --text-colour: var(--colour-muted-bone);
        --link-colour: var(--colour-blue);
        --nav-background: var(--colour-dark);
        --nav-colour: var(--colour-blue);
        --nav-active: var(--colour-orange);
        --nav-hover: var(--colour-light-orange);
        --border: var(--colour-orange);
        --quote-background: var(--colour-lighter);
    }
}

.dark {
    --background-colour: var(--colour-dark);
    --brand-colour: var(--colour-blue);
    --text-colour: var(--colour-muted-bone);
    --link-colour: var(--colour-blue);
    --nav-background: var(--colour-dark);
    --nav-colour: var(--colour-blue);
    --nav-active: var(--colour-orange);
    --nav-hover: var(--colour-light-orange);
    --border: var(--colour-orange);
    --quote-background: var(--colour-lighter);
}
