<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="738e0827-2ed2-4354-a55e-8008a9f90c52" Alias="article" Level="1">
  <Info>
    <Name>Article</Name>
    <Icon>icon-newspaper-alt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[A dated, long-form article. Shows published and last-updated dates on the page.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="476d4c58-a60a-4b88-9afa-2b0ebade1a02">metadata</Composition>
      <Composition Key="258c9c66-5a09-4b80-a138-e46009a70103">navigation</Composition>
      <Composition Key="dbb86bb1-4683-4507-95b2-87268c34bd59">pageHeader</Composition>
      <Composition Key="14d23c41-2e72-4625-8509-6d9a1276e48b">sitemap</Composition>
    </Compositions>
    <DefaultTemplate>Article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="86d4f0a0-1a3d-4b75-b221-0237fcdc3585">Article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b2699b54-07ab-456f-b557-1bd561792dac</Key>
      <Name>Page Content</Name>
      <Alias>pageContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>856357ab-a63e-4fec-aa53-5590fc50e9c6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>88f29996-78d1-40c7-a19e-e5fa48021aeb</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d10672f4-6215-48ea-a116-649c699b4a48</Key>
      <Caption>Metadata</Caption>
      <Alias>metadata</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
