<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="951598cc-0819-485d-b1a7-dbe9d037ee2d" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-article color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="476d4c58-a60a-4b88-9afa-2b0ebade1a02">metadata</Composition>
      <Composition Key="258c9c66-5a09-4b80-a138-e46009a70103">navigation</Composition>
      <Composition Key="dbb86bb1-4683-4507-95b2-87268c34bd59">pageHeader</Composition>
      <Composition Key="14d23c41-2e72-4625-8509-6d9a1276e48b">sitemap</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a3223300-f0d1-4f02-9686-fba84e41d236">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="38860ca5-ce23-442b-a8fd-213c6d4275f7" SortOrder="0">redirect</ContentType>
    <ContentType Key="951598cc-0819-485d-b1a7-dbe9d037ee2d" SortOrder="1">contentPage</ContentType>
    <ContentType Key="2ecdbba7-e3d8-417a-9dbd-1b2f98b228d8" SortOrder="2">toolPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d3872dd4-3b86-4c41-b7b0-fde0dbd87ce7</Key>
      <Name>Page Content</Name>
      <Alias>pageContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5637ed57-132e-4372-80b1-4b75270ec441</Key>
      <Name>pageType</Name>
      <Alias>pageType</Alias>
      <Definition>8a6e5852-1032-47a5-9e98-e8655054cd11</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The type of page, for Open Graph.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="metadata">Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>334f2ee5-8ee0-485c-b91b-8dfb306c9f58</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>75c21f62-f497-43f9-9323-4d57bc950572</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>c99bc0c2-b431-431c-8e82-a4299a0e8b50</Key>
      <Caption>Metadata</Caption>
      <Alias>metadata</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>