<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a2baec9c-2c22-459f-bee1-7776dc6dca3f" Alias="xmlSitemap" Level="1">
  <Info>
    <Name>XML Sitemap</Name>
    <Icon>icon-sitemap color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="258c9c66-5a09-4b80-a138-e46009a70103">navigation</Composition>
    </Compositions>
    <DefaultTemplate>XMLSitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="631ead9e-f122-47be-9369-445cc0ff31bc">XMLSitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9a382a85-76ed-4993-8aa9-8b9ecf252509</Key>
      <Name>Excluded Document Types</Name>
      <Alias>excludedDocumentTypes</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Comma-separated list of document types to exclude]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sitemap">Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9f687d79-74c6-4743-b371-1b6d7ae01c5f</Key>
      <Caption>Sitemap</Caption>
      <Alias>sitemap</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>