<div id="cookieNotification" class="notification">
    <div class="notificationText hidden-xs">AndrewMcLachlan.com uses cookies to give you the best web browsing experience. <a href="/privacy-and-cookies">More Information</a></div>
    <div class="notificationText visible-xs">This site uses cookies. <a href="/privacy-and-cookies">More Information</a></div>
    <form method="post" action="~/accept-cookies"><div class="notificationHide"><button id="acceptCookies" type="submit" title="Do not show this message again"><span class="glyphicon glyphicon-remove"></span></button></div></form> 
</div>