<nav role="navigation">
    <ul>
        <vc:menu site-map-name="Footer.sitemap" level="1" />
    </ul>
</nav>
<div class="copyright">@Html.Raw(String.Format(FooterResources.CopyrightNotice, DateTime.Now.Year))</div>
