<div class="home-header-container @ViewData["HeroClass"]">
    <div class="home-header">
        <h1>Welcome to andrewmclachlan.com, the home of Software Engineer@* and IT Consultant*@ Andrew McLachlan.</h1>
        <h2>I provide web and mobile products to help businesses and software developers@* as well as consulting services*@.</h2>
    </div>
</div>