@model ICollection<SiteMapModelNode>

<ul class="level@(ViewData["level"])">
    @foreach (SiteMapModelNode node in Model)
    {
        <li>
            <a href="@Url.Content(node.Url)">@node.Title </a>

            @if (node.Nodes.Count > 0)
            {
                @Html.DisplayFor(m => node.Nodes, "SiteMapModelNodes", new { level = (int)ViewData["level"] +1 })
            }
    </li>
    }
</ul>
