@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@{
    Layout = "FullPageLayout.cshtml";
    ViewBag.Title = $"{Model.Value("title")} - Andrew McLachlan";
    ViewBag.Description = Model.Value("description");
    ViewBag.Canonical = Model.Url();
    var pageLinks = Model.PageLinks;// Model.Value<IEnumerable<Umbraco.Cms.Web.Common.PublishedModels.PageLink>>("PageLinks") ?? [];
}

@section PageLink
{
    @if (pageLinks != null)
    {
        <section class="page-links">
            @foreach (var pageLink in pageLinks)
            {
                await Html.RenderPartialAsync("PageLink", pageLink.Content);
            }
        </section>
    }
}

@Model.Value("pageContent")