@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ToolPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "FullPageLayout.cshtml";
    ViewBag.Title = $"{Model.Value("title")} - Andrew McLachlan";
    ViewBag.Description = Model.Value("description");
    ViewBag.Canonical = Model.Url();

    string ip = "";
    if (Context.Request.Headers.ContainsKey("X-Forwarded-For"))
    {
        var header = Context.Request.Headers["X-Forwarded-For"];
        ip = header.First()?.Split(',').First() ?? string.Empty;
        if (System.Net.IPEndPoint.TryParse(ip, out var ipEndPoint))
        {
            ip = ipEndPoint.Address.ToString();
        }
    }
    else
    {
        ip = Context.Connection.RemoteIpAddress?.ToString() ?? string.Empty;
    }
}

<h3>Your IP Address</h3>
<h3 class="clickable copyable" title="Click to copy">@ip</h3>