@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<h2 class="text">
    @Model.Value("introText")
</h2>
<p class="text">@Model.Value("introSubText")</p>
