<rewrite>
  <rules>
    <rule name="Lower Case URL" enabled="true" stopProcessing="true">
      <match url="[A-Z]" ignoreCase="false" />
      <action type="Redirect" url="{ToLower:{REQUEST_URI}}" redirectType="Permanent" />
      <conditions>
        <add input="{REQUEST_URI}" pattern=".*pdf$" negate="true" />
      </conditions>
    </rule>
    <rule name="Remove Trailing Slash" enabled="true" stopProcessing="true">
      <match url="(.*)/$"/>
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
      </conditions>
      <action type="Redirect" url="{R:1}"/>
    </rule>
    <rule name="About" enabled="true" stopProcessing="true">
      <match url="about$" ignoreCase="true" />
      <action type="Redirect" redirectType="Permanent" url="about-me" />
    </rule>
    <rule name="Canonical Host Name" enabled="false" stopProcessing="true">
      <match url="(.*)" />
      <conditions>
        <add input="{HTTP_HOST}" pattern="^andrew\.mclachlan\.family" negate="true" />
      </conditions>
      <action type="Redirect" url="http://andrew.mclachlan.family/{R:1}" redirectType="Permanent" />
    </rule>
  </rules>
  <outboundRules>
    <rule name="Replace Server header" patternSyntax="Wildcard">
      <match serverVariable="RESPONSE_SERVER" pattern="*" />
      <action type="Rewrite" value="" />
    </rule>
  </outboundRules>
</rewrite>