<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.webServer>

    <aspNetCore processPath="dotnet" arguments=".\Asm.AmCom.Web.dll" stdoutLogEnabled="false" xdt:Transform="Replace">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />
      </environmentVariables>
    </aspNetCore>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src 'self'; img-src 'self' data:; style-src 'self'; script-src 'self'" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>

</configuration>