<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="bin\Debug\net8.0\Asm.AmCom.Web.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <add name="X-UA-Compatible" value="IE=Edge" />
        <add name="Content-Security-Policy" value="default-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; script-src 'self'" />
        <add name="X-Frame-Options" value="same-origin" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="no-referrer" />
        <add name="Feature-Policy" value="accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'; usb 'none'" />
      </customHeaders>
    </httpProtocol>
    <applicationInitialization doAppInitAfterRestart="true">
      <add initializationPage="/" />
    </applicationInitialization>
    <security>
      <requestFiltering removeServerHeader="true">
        <filteringRules>
          <filteringRule name="libwww-perl" scanUrl="false" scanQueryString="false">
            <scanHeaders>
              <add requestHeader="User-Agent" />
            </scanHeaders>
            <denyStrings>
              <add string="libwww-perl" />
            </denyStrings>
          </filteringRule>
        </filteringRules>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Lower Case URL" enabled="true" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <action type="Redirect" url="{ToLower:{REQUEST_URI}}" redirectType="Permanent" />
          <conditions>
            <add input="{REQUEST_URI}" pattern=".*pdf$" negate="true" />
          </conditions>
        </rule>
        <rule name="Remove Trailing Slash" enabled="true" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Replace Server header" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_SERVER" pattern="*" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
  <location path="umbraco">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Content-Security-Policy" />
        </customHeaders>
      </httpProtocol>
      <rewrite>
        <rules>
          <clear />
        </rules>
      </rewrite>
    </system.webServer>
  </location>
  <location path="install">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Content-Security-Policy" />
        </customHeaders>
      </httpProtocol>
      <rewrite>
        <rules>
          <clear />
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>