<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.webServer>

    <aspNetCore processPath="dotnet" arguments=".\Asm.AmCom.Web.dll" stdoutLogEnabled="true" stdoutLogFile="F:\Logs\staging.andrewmclachlan.com" xdt:Transform="Replace">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />
      </environmentVariables>
    </aspNetCore>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src 'self'; img-src 'self' data:; style-src 'self'; script-src 'self'" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <rule name="Canonical Host Name" enabled="true" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(enabled)">
          <conditions>
            <add input="{HTTP_HOST}" pattern="^staging\.andrewmclachlan\.com$" xdt:Locator="Match(input)" xdt:Transform="SetAttributes(pattern)" />
          </conditions>
          <action type="Redirect" url="https://staging.andrewmclachlan.com/{R:1}" xdt:Locator="Match(type)" xdt:Transform="SetAttributes(url)" />
        </rule>
        <rule name="HTTP to HTTPS redirect" enabled="true" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(enabled)">
            <action type="Redirect" url="https://staging.andrewmclachlan.com/{R:1}" redirectType="Permanent" xdt:Transform="SetAttributes(url)" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(enabled)" />
      </outboundRules>
    </rewrite>

  </system.webServer>

</configuration>