<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.webServer>

    <aspNetCore processPath="dotnet" arguments=".\Asm.AmCom.Web.dll" stdoutLogEnabled="true" stdoutLogFile="F:\Logs\staging.andrewmclachlan.com" xdt:Transform="Replace">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />
      </environmentVariables>
    </aspNetCore>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="require-sri-for script style; default-src 'self'; img-src 'self' data:; style-src 'self'; script-src 'self' https://code.jquery.com https://cdnjs.cloudflare.com https://stackpath.bootstrapcdn.com" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>

</configuration>