@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var pageLinks = Model.Value<IEnumerable<Umbraco.Cms.Web.Common.PublishedModels.PageLink>>("PageLinks");
    string headerImageStyle = "";
    var typedMediaPickerSingle = Model.Value<IPublishedContent>("headerBackground");
    if (typedMediaPickerSingle != null)
    {
        headerImageStyle = $"background-image: ";
        headerImageStyle += Model.ValueAnd("backgroundGradient", "{0}, ");
        headerImageStyle += $" url({typedMediaPickerSingle.Url()})";
        headerImageStyle += Model.ValueAnd("backgroundSize", "; background-size: {0}");
        headerImageStyle += Model.ValueAnd("backgroundRepeat", "; background-repeat: {0}");
    }
    else
    {
        headerImageStyle += Model.ValueAnd("backgroundGradient", "background-image: {0}");
    }
    headerImageStyle += Model.ValueAnd("backgroundColour", "; background-color: {0}");
            var className = pageLinks?.Any() ?? false ? "has-links" : String.Empty;
    className += Model.Value<string>("title")?.Length > 23 ? " long" : String.Empty;
}

<h2 class="@className.Trim()" style="@headerImageStyle">@Model.Value("title")</h2>