@{
    ViewBag.Title = "Avior";
    ViewBag.Canonical = "products/avior";
    ViewBag.Description = "Avior - A customer complaints manageent system that meets your company's needs";
}

@section PageHeader
{
    <h1>Avior</h1>
}

@section PageLink
{
    <aside class="page-link">
        In Development
    </aside>
}
<section class="row">
    <header>
        <h2>Complaints Management for Professionals</h2>
    </header>
    <div class="row">
        <div class="col-sm-6">
            <p>Avior is a system for managing circumstances, claims and complaints, designed to meet the needs of small to medium professional organisations.</p>
            <h3>Feature Summary</h3>
            <ul>
                <li>Easy to use</li>
                <li>Customisable interface, tailored to your brand</li>
                <li>Performance metrics gathering</li>
                <li>Fully functional reporting dashboard</li>
                <li>Cloud-hosted or on-site deployment options</li>
                <li>Active Directory integration for single sign-on</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <img src="~/content/images/avior/newcase.png" alt="A screenshot of the new complaint screen" style="border: 1px #000 solid" />
        </div>
    </div>
</section>
