@{
    ViewBag.Title = "Carbs & Cals";
    ViewBag.Description = "All about the Carbs & Cals mobile and touch-friendly applications";
    ViewBag.Canonical = "products/carbs-and-cals";
}

@section PageHeader
{
    <h1><img src="~/images/carbsandcals/candc.png" alt="Carbs &amp; Cals" /></h1>
}

<section>
    <header class="row">
        <h2 class="col-sm-12">Counting <abbr>Carbs</abbr> the Easy Way</h2>
    </header>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <p>
                The premise behind the Carbs &amp; Cals app is simple. If you are interested in watching your carbohydrate or calorie intake, you can use pictures of food to reasonably estimate your intake.
                This avoids having to weigh your food and use lookup tables to figure out what your having; something that could be a bit difficult in a restaurant!
            </p>
            <p>This award winning app is perfect for diabetics as well as anyone who want to control their weight.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <img src="~/images/carbsandcals/cn-banner.png" width="211" height="132" alt="Winner - New Product of the Year - Complete Nutrition Awards 2011/2012">
        </div>
    </div>
</section>
<section>
    <header class="row">
        <h2 class="col-sm-12">Portion Control</h2>
    </header>
    <div class="row">
        <div class="col-xs-4 col-sm-2">
            <img src="~/images/carbsandcals/iphoness3.png" width="124" height="242" alt="The Carbs & Cals phone app showing 6 portions of spaghetti bolognase" />
        </div>
        <div class="col-xs-4 col-sm-2">
            <img src="~/images/carbsandcals/iphoness4.png" width="124" height="242" alt="The Carbs & Cals phone app showing a plate of spaghetti bolognase" />
        </div>
        <div class="col-xs-12 col-sm-8">
            <p>Choose from the fully searchable list of over 250 popular food and drinks.</p>
            <p>
                Each food comes with up to 6 photos of different portion sizes. Select the portion that most closely matches your plate of food to see detailed information about its weight, carbohydrate and calorie content.
            </p>
            <p>You can easily swipe between the different portion sizes to find the right one.</p>

        </div>
    </div>
</section>
<section>
    <header class="row">
        <h2 class="col-sm-12">Food Diary</h2>
    </header>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <p>Build up your meal by selecting different foods and drinks to get the total amount of <abbr title="carbohydrates">carbs</abbr> and cals.</p>
            <p>Save up to 6 meals a day to the diary and keep a track of your daily intake over time.</p>

        </div>
        <div class="col-xs-4 col-sm-2">
            <img src="~/images/carbsandcals/iphoness6.png" width="124" height="242" alt="The Carbs & Cals phone app meal summary" />
        </div>
        <div class="col-xs-4 col-sm-2">
            <img src="~/images/carbsandcals/iphoness9.png" width="124" height="242" alt="The Carbs & Cals phone app food diary" />
        </div>
    </div>
</section>
<section>
    <header class="row">
        <h2 class="col-sm-12">
            Latest News
        </h2>
    </header>
    <div class="row">
        <p class="col-sm-12">
            In 2011 the Carbs &amp; Cals app was sold to <a href="http://www.chellopublishing.co.uk" rel="external">Chello Publishing</a>. For more information on Carbs &amp; Cals, please visit their <a href="http://www.carbsandcals.com" rel="external">website</a>.
        </p>
    </div>
</section>


