@{
    ViewBag.Title = "Dashboard";
    ViewBag.Descripton = "Dynamic dashboard API";
    ViewBag.Canconical = "products/dashboard";
}

@section PageHeader
{
    <h1>Dashboard</h1>
}

<section>
    <header class="row">
        <h2 class="col-sm-12">Building Dashboards with Ease</h2>
    </header>
    <div class="row">
        <div class="col-sm-12">
            <p>
                
            </p>
            <ul>
                <li>Create new dashboards and choose the widgets to populate it.</li>
                <li>Layout the dashboard with zones</li>
                <li>Each dashboard can have its skin</li>
                <li>Any logged-in use can fully customise their dashboard, adding and rmeoving widget from an approved list.</li>
                <li>
                    Fully extensible.
                    <ul>
                        <li>Create your own widgets in JavaScript or C#</li>
                        <li>Add new back-end services and functionality</li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</section>