@{
    ViewBag.Title = "Products";
    ViewBag.Description = "A summary of available and upcoming products";
    ViewBag.Canonical = "products";
}

@section PageHeader
{
    <h1>Products</h1>
}

