
@{
    ViewBag.Title = "Octopus Notify";
    ViewBag.Canonical = "products/octopus-notify";
    ViewBag.Description = "Octopus Notify - System Tray notifications for Octopus Deploy";
}

@section PageHeader
{
    <h1>
        <img src="~/images/octopusnotify/logo.shadow.64.png" width="77" height="78" style="margin-right:20px;" alt="Octopus Notify Logo" /><span class="h1_1">Octopus</span> <span class="h1_2">Notify</span>
    </h1>
}

@section PageLink
{
    <aside class="page-link">
        <a href="https://github.com/AndrewMcLachlan/OctopusNotify">In Development</a>
    </aside>
}

<section class="row">
    <h2 class="col-sm-12">System Tray Notifcations for your Deployments</h2>
    <section class="col-md-6 col-lg-7">
        <p>
            I love <a href="https://octopus.com/">Octopus Deploy</a>. We use it extensively at my current client, deploying multiple concurrent releases
            across an ever-changing environment landscape.
        </p>
        <p>The one thing missing for me was a system tray app to let me know if a deployment fails. This can happen frequently as our continuous integration environment is cloud-based and started up on-demand.</p>
        <p>I was surprised to find that such a tool did not already exist. I found <a href="https://github.com/TimButterfield/OctopusNotifier">OctopusNotifier</a>, but this is a console application and requires <a href="http://www.growlforwindows.com/gfw/">Growl</a> in order to work.</p>
        <p>I wanted to create a stand-alone application that sits in the System Tray and so <a href="https://github.com/AndrewMcLachlan/OctopusNotify">Octopus Notify</a>, my first <a href="https://github.com/">GitHub</a> project, was born!</p>
    </section>
    <section class="col-md-6 col-lg-5">
        <img id="sample" src="~/images/octopusnotify/toast2.png" width="473" height="303" alt="A sample toast notification">
    </section>
    <section class="col-sm-12">
        <h3>Features</h3>
        <p>
            The first version of Octopus Notify is pretty simple. Based on your Octopus dashboard, Notify will popup toast notifications when a build succeeds, fails for the first time, fails again or is fixed.
        </p>
        <p>You need to create an <a href="http://docs.octopusdeploy.com/display/OD/How+to+create+an+API+key">API key</a> to use with the app. You can select what types of notifications to receive, have the app start with Windows, change how often it polls Octopus and that's it! </p>
    </section>
    <section>
        <h3 class="col-sm-12">Future Development</h3>
        <p class="col-sm-12">
            In the future I want to make the notifications totally customisable. Rather than simply using the Octopus dashboard, I would like to be able to customise notifications by project group, project, environment and channel.
        </p>
    </section>
</section>


