@{
    ViewBag.Title = "Project Portal";
    ViewBag.Canonical = "products/project-portal";
    ViewBag.Description = "Project Portal - A simplified, touch-friendly interface for Visual Studio Online";
}

@section PageHeader
{
    <h1>
        @*<img src="~/images/projectportal/heading2.png" alt="Project Portal" />*@
        Project Portal
    </h1>
}

@section PageLink
{
    <aside class="page-link">
        In Development
    </aside>
}

<section>
    <header>
        <h2>Simplified TFS Integration for Your Mobile Device</h2>
    </header>
    <div class="row">
        <div class="col-md-8">
            <p>
                I love Visual Studio Online. For a single developer such as myself, the basic plan is a great way to look after my source code and manage my tasks.
                I've even started using the project management tools to help keep track of other parts of my life.
                The only problem is that the web interface, while powerful, is cumbersome to use, particularly on a touchscreen device.
            </p>
            <p>
                What I really want is a simple tool for my tablet that allows me to do the basic task management work quickly and easily.
                I have not yet found a tool that meets my needs when performing the most common tasks such as updating status, changing priority and creating new items.
            </p>
            <p>
                This is where the Project Portal comes in. Taking advantage of the new <a href="http://www.visualstudio.com/en-us/integrate/explore/explore-vso-vsi">REST APIs for Visual Studio Online</a>, this product will
                help you keep on top of your tasks by handing you the means to quickly
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/images/projectportal/home.png" width="330" height="283" alt="A screenshot of the ProjectPortal home screen" />
        </div>
    </div>
</section>
<section>
    <header>
        <h3>Features</h3>
    </header>
    <div class="row">
        <div class="col-md-8">
            <p>
                The main aim is to simplify the VSO interface to make the common tasks we perform easier. Status updates, reprioritising stories/tasks, switching query modes and other tasks should be achievable in
                as few touches as possible. With this in mind Project Portal:
            </p>
            <ul>
                <li>Has a simple, touch-first UI. It should be clean and bold</li>
                <li>Is not development-centric. It helps manage non-development projects too</li>
                <li>Can rename work item types and query columns to suit the tpye of project</li>
                <li>Can create new child tasks for a user-story in a one-touch operation</li>
                <li>Offers multiple views of a work item query.</li>
                <li>Can prioritise user stories and tasks via drag and drop, regardless of the current view</li>
            </ul>
            </div>
        <div class="col-md-4">
            <img src="~/images/projectportal/backlog.png" width="331" height="296" alt="A screenshot of the ProjectPortal backlog" />
        </div>
</section>