@{
    ViewBag.Title = "Drawing & Graphical Artistry";
}


@section PageHeader
{
    <header class="Drawing">
        <h1>Drawing &amp; Graphical Artistry</h1>
    </header>
}

<section>
    <h2>My Logo</h2>
    <p>Idly drawn on a pencil case hen I was 15 years old, this has become the logo that represents me in my private enterprises.</p>
</section>
<section>
    <h2>Graphical Design</h2>
    <p>Websites and modern applications need good graphical design. Sometimes you find yourself working for an organisation that employs decent createive people to take some of that headache away.
    Often you're expected to the best you can to create pleasing design. Since I found myself in this position, I've tried to improve my graphical design and drawing skills.</p>
</section>
<section>
    <h2>Drawing</h2>
    <p>A side affect of me learning how to use programs like <a href="http://www.adobe.com/photoshop">Photoshop</a> and <a href="http://getpaint.net">Paint.NET</a> is that I have become better at using these tools
    for drawing pictures. I have been inspired by the work of <a href="http://gallery.artofgregmartin.com">Greg Martin</a> and the artists behind <a href="http://www.experiencetheplanets.com/">Experience the Planets</a>.
    <p>Here are some of my first efforts:</p>
</section>