@{
  ViewBag.Title = "About - Andrew McLachlan";
  ViewBag.Description = "Information about Andrew McLachlan and andrewmclachlan.com";
  ViewBag.Canonical = "about-me";
}

@section PageLink
{
  <aside class="page-link">
    <a href="https://www.dropbox.com/s/3dio3ny17r5kpcs/Resume-Andrew_McLachlan.pdf?dl=0" target="_blank" rel="nofollow"><img src="~/images/pdf.gif" srcset="~/images/pdf@2x.png 2x" width="16" height="16" alt="PDF Icon" />&nbsp;<span>Download my Résumé</span></a>
  </aside>
  <aside class="page-link">
    <a href="http://au.linkedin.com/in/andrewsmclachlan" target="_blank" rel="external"><img src="~/images/about/logo-2c-21px-r.png" srcset="~/images/about/logo-2c-41px-r.png 2x" width="93" height="21" alt="View Andrew McLachlan's profile on LinkedIn" title="My LinkedIn Profile"></a>
  </aside>
}


@section PageHeader
{
  <h1>About Me</h1>
}

<section>
  <p>I am a contract / freelance software engineer and technical consultant. I have been working IT since 2003 and have had the pleasure to work for a variety of different companies.</p>
  <p>My biggest piece of work to date is the Fleetintelligence platform for <a href="http://www.sgfleet.com" rel="external" target="_blank"><strong>sg</strong>fleet.</a> What makes this project stand out for me is that rather than simply building a website, I was tasked with creating a platform that could potentially host all of <strong>sg</strong>fleet's customer facing web applications. I was required to put a lot of thought and care into the design of the architecture to give it flexibility it needed to cope with the variety of different customers who would use it.</p>
  <p>This was also the first web site I have worked on that required a unified interface that would display well, regardless of the device it was displayed on. This was an interesting challenge but I am very proud of the results. </p>
  <p>Another important project in my career was the <a href="http://www.carbsandcals.com/app/app" rel="external">Carbs &amp; Cals iPhone App</a>. Released to the App Store at the end of August 2010, this was the first project for I was soley responsible. By that I mean contracts, requirements gathering, functional specifications, technical design, implementation, testing, distribution and technical support.</p>
  <p>This was followed up by the redesign of the Carbs &amp; Cals website. The original website had been purely HTML, selling a single product, the book. As more products were being prepared for release, a new, more interactive site was required with a better sales experience for the customer as well as advanced order and product management for the company.<br />To this end I re-developed the entire site using ASP.NET and SQL Server, creating a new e-commerce solution integrated into PayPal, as well as offering more traditional payment methods such as by cheque. A whole suite of administration functions was added, to allow management of orders, products and mailing lists as well as reporting on sales by product, by and customer and producing VAT data.</p>
  <figure class="combinedWorks"><img src="~/images/combinedworks.png" width="966" height="180" alt="Screenshots of my work" usemap="#combinedworks" /></figure>
  <map name="combinedworks">
    <area shape="poly" coords="490,1,546,7,534,111,520,111,525,45,487,44" title="Carbs &amp; Cals iPhone App" alt="Carbs &amp; Cals iPhone App" href="https://www.carbsandcals.com/app/app" target="_blank" />
    <area shape="poly" coords="290,83,374,65,370,143,425,150,305,170" title="London Stock Exchange RNS Submit" alt="London Stock Exchange RNS Submit" href="https://rnssubmit.com" target="_blank" />
    <area shape="poly" coords="636,72,743,45,766,136,633,170,654,80" title="Carbs &amp; Cals Website" alt="Carbs &amp; Cals Website" href="http://www.carbsandcals.com" target="_blank" />
    <area shape="poly" coords="542,50,654,81,629,172,519,145,520,114,537,115" title="Torus Insurance Opus" alt="Torus Insurance Opus" href="#" />
    <area shape="poly" coords="209,34,342,70,289,83,303,157,185,124" title="Estates Gazette PropertyLink" alt="Estates Gazette PropertyLink" href="https://propertylink.estatesgazette.com" target="_blank" />
    <area shape="poly" coords="84,62,229,30,232,40,208,34,184,124,226,137,106,164" title="Commonwealth Bank of Australia Awards" alt="Commonwealth Bank of Australia Awards" href="#" />
    <area shape="poly" coords="719,21,850,64,816,155,767,140,744,42,710,51" title="Drive.com.au - Fairfax Media" alt="Drive.com.au - Fairfax Media" href="http://www.drive.com.au" target="_blank" />
    <area shape="poly" coords="377,38,521,48,515,154,370,144" title="Fleetintelligence - sgfleet" alt="Fleetintelligence - sgfleet" href="https://fi.sgfleet.com" target="_blank" />
  </map>
</section>
<section>
  <header>
    <h2>About This Site</h2>
  </header>
  <section>
    <p>I have developed AndrewMclachlan.com primarily because I believe that someone who claims to be a developer should have some sort of presence on the web, showing off at least some of what they do for a living.</p>
    <p>While some of my work visible to the wider world, most of it is either running internally on my client's systems or has no visible component, such as the digital media delivery system I wrote while working at Ascent Media or more recently, SQL Server data migration using SSIS packages for RBI.</p>
  </section>
</section>