@{
  ViewBag.Title = "Colour Chart";
  ViewBag.Description = "Colours";
}
@section Head
    {
  <link rel="stylesheet" href="~/css/colours.min.css" />
}
<h3>Core Colours</h3>
<section class="colourGroup">
  <section>
    <h4>Dark</h4>
    <div class="colour dark"></div>
    <div>#14252C<br />27,34,44</div>
  </section>
  <section>
    <h4>Blue</h4>
    <div class="colour blue"></div>
    <div>#73BEE9<br />115,190,233</div>
  </section>
  <section>
    <h4>Bone</h4>
    <div class="colour bone"></div>
    <div>#F8F8D2</div>
  </section>
</section>

<h3>Secondary Colours</h3>
<section class="colourGroup">
  <section>
    <h4>Lighter</h4>
    <div class="colour lighter"></div>
    <div>#29333D</div>
  </section>
  <section>
    <h4>Rich Blue</h4>
    <div class="colour richBlue"></div>
    <div>#3C74A8</div>
  </section>
  <section>
    <h4>Light Blue</h4>
    <div class="colour lightblue"></div>
    <div>#AADCF7<br />170,220,247</div>
  </section>
  <section>
    <h4>Muted Bone</h4>
    <div class="colour mutedbone"></div>
    <div>#DADAD3</div>
  </section>
</section>

<h3>VS Colours</h3>
<section class="colourGroup">
  <section>
    <h4>Keyword</h4>
    <div class="colour keyword"></div>
    <div>#81E281<br />129,226,129</div>
  </section>
</section>