<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c5ca5d51-7e00-4a55-9005-d57aca1d5125" Alias="landingPage" Level="1">
  <Info>
    <Name>Landing Page</Name>
    <Icon>icon-thumbnails color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A generic landing page that lists cards in a bento grid.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="476d4c58-a60a-4b88-9afa-2b0ebade1a02">metadata</Composition>
      <Composition Key="258c9c66-5a09-4b80-a138-e46009a70103">navigation</Composition>
      <Composition Key="dbb86bb1-4683-4507-95b2-87268c34bd59">pageHeader</Composition>
      <Composition Key="14d23c41-2e72-4625-8509-6d9a1276e48b">sitemap</Composition>
    </Compositions>
    <DefaultTemplate>LandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c6ca5d51-7e00-4a56-9006-d57aca1d5126">LandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="38860ca5-ce23-442b-a8fd-213c6d4275f7" SortOrder="0">redirect</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c5ca5d51-0001-4001-9001-d57aca1d51d1</Key>
      <Name>Cards</Name>
      <Alias>cards</Alias>
      <Definition>c2a5d51e-7e00-4a52-9002-d57aca1d5122</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The list of cards rendered in the bento grid.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/cards">Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c5ca5d51-0010-4001-9010-d57aca1d51e0</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c5ca5d51-0011-4001-9011-d57aca1d51e1</Key>
      <Caption>Cards</Caption>
      <Alias>content/cards</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>