<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="38860ca5-ce23-442b-a8fd-213c6d4275f7" Alias="redirect" Level="1">
  <Info>
    <Name>Redirect</Name>
    <Icon>icon-directions color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Redirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0b5c6171-f52e-4fc3-8b30-2b7ddc61c2ee">Redirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="38860ca5-ce23-442b-a8fd-213c6d4275f7" SortOrder="0">redirect</ContentType>
    <ContentType Key="951598cc-0819-485d-b1a7-dbe9d037ee2d" SortOrder="1">contentPage</ContentType>
    <ContentType Key="2ecdbba7-e3d8-417a-9dbd-1b2f98b228d8" SortOrder="2">toolPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>923e38a6-317f-45cf-9c33-c06628c1b559</Key>
      <Name>RedirectURL</Name>
      <Alias>redirectURL</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="redirect">Redirect</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cb0bb9ea-caf0-4147-bae1-d35ce0295c82</Key>
      <Caption>Redirect</Caption>
      <Alias>redirect</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>