<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="14d23c41-2e72-4625-8509-6d9a1276e48b" Alias="sitemap" Level="2">
  <Info>
    <Name>Sitemap</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Sitemap settings</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>081af32d-f855-46c3-8de1-f336760d4aa4</Key>
      <Name>Change Frequency</Name>
      <Alias>changeFrequency</Alias>
      <Definition>0b8c57f2-9169-4094-be13-0e704f01e0eb</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How frequently the page changes]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sitemapSettings">Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>33c214bb-a0b1-4064-ae7e-904b9ced4b18</Key>
      <Caption>Sitemap Settings</Caption>
      <Alias>sitemapSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>