<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2ecdbba7-e3d8-417a-9dbd-1b2f98b228d8" Alias="toolPage" Level="1">
  <Info>
    <Name>Tool</Name>
    <Icon>icon-tools color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="476d4c58-a60a-4b88-9afa-2b0ebade1a02">metadata</Composition>
      <Composition Key="258c9c66-5a09-4b80-a138-e46009a70103">navigation</Composition>
      <Composition Key="dbb86bb1-4683-4507-95b2-87268c34bd59">pageHeader</Composition>
      <Composition Key="14d23c41-2e72-4625-8509-6d9a1276e48b">sitemap</Composition>
    </Compositions>
    <DefaultTemplate>Tool</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4817691d-0f3e-41c9-b24f-ab60645ea3e5">Tool</Template>
      <Template Key="b1c3c57a-0049-488a-815a-ea5648dc3863">ToolIP</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e821746e-202e-4ad5-97a8-c9679458bd69</Key>
      <Name>Tool Name</Name>
      <Alias>toolName</Alias>
      <Definition>6ff78479-30ff-4d6e-a003-7b4f7e7168e4</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/tool">Tool</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>47df5e71-be33-484d-936f-08bbecff2441</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5e292ccc-e3dc-4d98-be95-f547db5771b9</Key>
      <Caption>Tool</Caption>
      <Alias>content/tool</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>