<img id="egypt" src="~/images/hero/egyptlong.jpg" width="2255" height="405" alt="The Sphinx and pyramid" />
<div id="someSolutions"><img src="~/images/hero/somesolutions.png" alt="Some solutions" /></div>
<div id="builtToLast"><img src="~/images/hero/builttolast.png" alt="are built to last" /></div>
<div class="home-header-container" ">
    <div class="home-header">
        @await Html.PartialAsync("HeroText", Model, new ViewDataDictionary(ViewData) { { "HeroClass", "egypt" } })
    </div>
</div>