@{
    ViewBag.Title = "Privacy & Cookies";
    ViewBag.Description = "Information about privacy and the use of cookies on andrewmclachlan.com";
    ViewBag.Canonical = "privacy-and-cookies";
}
@section PageHeader
{
<header class="Privacy">
    <h1>Privacy &amp; Cookies</h1>
</header>
}
<h2>Cookies on AndrewMcLachlan.com</h2>
<p>This site does not use cookies</p>
<p>If you have any questions about this policy please <a href="/contact">contact me</a>.</p>

<h2>Email and contact information</h2>
<p>If you use the <a href="/contact">contact</a> form, your personal information will be stored in an email and only used to write a reply. Your personal information will not be disclosed to any third party unless I am required to do so by law.</p>
