@{
  ViewBag.Title = "Privacy & Cookies";
  ViewBag.Description = "Information about privacy and the use of cookies on andrewmclachlan.com";
  ViewBag.Canonical = "privacy-and-cookies";
}
@section PageHeader
{
  <h1>Privacy &amp; Cookies</h1>
}
<h2>Cookies on AndrewMcLachlan.com</h2>
<p>This site does not use any kind of tracking, analytics or advertising cookies.</p>
<p>If you opt to change the theme but clicking the link at the bottom of the page, a cookie will be set on your machine recording your choice. This does not contain any information that can be used to identify you.</p>
<p>If you have any questions about this policy please <a href="/contact">contact me</a>.</p>

<h2>Tools</h2>
<p>Some of the tools on this site send data you enter back to the web server for processing. This data is sent over a secure HTTPS connection. It is only sent for the purposes of providing the tool functionality and is not logged or otherwise stored.</p>

<h2>Email and contact information</h2>
<p>If you use the <a href="/contact">contact</a> form, your personal information will be stored in an email and only used to write a reply. Your personal information will not be disclosed to any third party unless I am required to do so by law.</p>
