<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e616a032-8816-4bee-95fb-0fc68fe36204" Alias="Page Links" Level="1">
  <Info>
    <Name>Page Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6922d096-40e4-42b6-a5be-c003497e97e3",
      "label": "{=pageLinkUrl}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": 3
  }
}]]></Config>
</DataType>