<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ff78479-30ff-4d6e-a003-7b4f7e7168e4" Alias="Tool List" Level="1">
  <Info>
    <Name>Tool List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "regex",
    "cidr",
    "base64",
    "ipaddress",
    "colours"
  ],
  "multiple": false,
  "umbMigrationV14": "2024-09-13T11:29:42.8224961\u002B00:00"
}]]></Config>
</DataType>